extend layout 




block content 
    section.contact-info
        h1 Contact Me
        p If you would like to get in touch, please use the following information:
        ul
            li Email: follymoet@gmail.com
            li Phone: +234 09163999783
            li Address: house 3 lekki county, lagos, Nigeria