extends layout

block content
  section.hero
    h1 Welcome to My Portfolio
    p I am a dedicated and experienced web developer committed to crafting exceptional digital experiences.

  section.about
      h2 Hi im Adio Damilola
      p With over 5 years of industry experience, I specialize in creating clean, modern, and responsive websites. Proficient in HTML, CSS, JavaScript, and various web frameworks, I am passionate about staying updated with the latest technologies and trends in the field.

  section.projects
      h2 My Projects
      ul
          li strong Project 1: Description of project 1.
          li strong Project 2: Description of project 2.
          li strong Project 3: Description of project 3.

  section.contact
      h2 Get In Touch
      p Do you have any questions or inquiries? Feel free to reach out to me using the form below or through the contact information provided.
      a.contact-link(href="/contact") Contact Me