extend layout 



block content 
    section.services
    h1 Our Services
    ul
        li
            h2 Web Development
            p Our expert team specializes in crafting modern, responsive websites tailored to meet your unique business needs. From intuitive user experiences to robust back-end solutions, we ensure your online presence stands out from the competition.
        li
            h2 Graphic Design
            p Elevate your brand with our top-notch graphic design services. We transform your ideas into visually stunning creations that captivate your audience and communicate your brand message effectively. Whether it's logos, branding materials, or promotional assets, we've got you covered.
        li
            h2 SEO Optimization
            p Enhance your website's visibility and drive organic traffic with our comprehensive SEO optimization services. Our strategies are tailored to maximize your online presence, improve search engine rankings, and attract potential customers. Stay ahead in the digital landscape with our proven SEO techniques.